@import "variables";

.grid-container{
  max-width: 1500px;
  margin: 0 auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 33.3333%;
  grid-template-rows: 0.3fr 1fr 1fr 1fr;
  grid-template-areas:
          "child-1 child-1 child-1"
          "child-2 child-3 child-4"
          "child-2 child-3 child-5"
          "child-6 child-6 child-6";
  grid-gap: 1em;

  .grid-item{
    border: 1px solid black;
    padding: 20px;

    &:nth-child(1){
      grid-area: child-1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo{
        width: 80px;
        height: auto;
      }
      .navbar{
        ul{
          display: flex;
          li{
            margin-right: 20px;
          }
        }
      }
      .header-search{
        form{
          display: flex;
          input{
            padding: 10px;
            width: 300px;
            margin-right: 3px;
            &:focus{
              outline:none
            }
          }
          button{
            background-color: $blue;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 700;
            padding: 5px 10px;
            border: none;
            &:focus{
              outline: none;
            }
          }
        }
      }
    }
    &:nth-child(2){
      grid-area: child-2;
    }
    &:nth-child(3){
      grid-area: child-3;
      .news-item{
        margin-bottom: 15px;
        border: 1px solid $blue;
        padding: 10px;
      }
    }
    &:nth-child(4){
      grid-area: child-4;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.4;
      }
      span{
        color: $white;
        text-transform: uppercase;
        display: block;
        position: relative;
        z-index: 2;
        font-weight: 700;
        font-size: 36px;
      }
    }
    &:nth-child(5){
      grid-area: child-5;
      width: 100%;
      .news-slider__wrapper{
        width: 100%;
      }
    }
    &:nth-child(6){
      grid-area: child-6;
    }
  }
}