@import "variables";

@media (max-width: 1550px) {

}

@media (max-width: 1200px) {
  .slider {
    &-image-wrapper {
      width: 38vw;
      height: 43vw;
    }
  }
}

@media (max-width: 991px) {
  body input, body textarea {
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
    }
  }
  .desktop-header {
    display: none;
  }
  .mobile {
    display: block;
  }
  .slider {
    &-text {
      &-line {
        margin: 5px 0;

        h5 {
          font-size: 15px;
        }

        h1 {
          font-size: 24px;
        }

        p {
          width: 100%;
        }
      }
    }

    &-image-wrapper {
      width: 29vw;
      height: 33vw;
    }
  }
  .about-us {
    background-position: 83%;

    &:before {
      width: 100%;
      height: 55%;
      top: unset;
    }

    &__empty {
      height: 480px;
    }

    &__info {
      padding: 50px 10px;
    }
  }
  .contact-us {
    &__form {
      margin-bottom: 80px;
    }

    &-map__wrapper {
      .decor-v {
        display: none;
      }

      .decor-h {
        display: block;
        width: auto;
        left: 0;
        right: 0;
        top: 200px;
      }
    }

    &__info-block {
      margin-top: 350px;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 0;
      width: 100%;
      text-align: left;
      margin-top: 20px;

      &-img {
        position: relative;
        max-width: 35px;
        top: unset;
        left: unset;
        transform: none;
      }

      &-select {
        margin-left: 30px;
        width: 100%;
        max-height: 52px;
        margin-bottom: 0;
        font-size: 16px;

        .active-value {
          padding: 16px;
          text-align: left;
          width: 100%;
        }

        ul {
          li {
            padding: 15px;
          }
        }
      }

      &-info {
        width: 100%;
        margin-left: 30px;
        padding: 15px;
      }
    }
  }
  .footer {
    font-size: 15px;

    &__logo {
      width: 200px;
    }

    .f-wrapper {
      align-items: center;
    }

    &-list {
      ul {
        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  /*---- Pages ----*/

  .results {
    form {
      input {
        margin-bottom: 20px;
      }
    }
  }
  .analyses {
    &-tags {
      overflow-x: auto;

      ul {
        width: 150vw;
        justify-content: unset;

        li {
          font-size: 12px;
        }
      }
    }

    &-item {
      .title, .desc {
        font-size: 16px;
      }

      .price {
        font-size: 15px;
        text-align: left;

        .sell-price {
          font-size: 12px;

          &:before {
            top: 9px;
          }

          span {
            font-size: 10px;
          }
        }

        .res-icon {
          font-size: 13px;
        }
      }

      .options {
        a {
          width: 35px;
        }

        .add-to__cart-btn {
          font-size: 12px;
          margin-left: 5px;

          .bag-icon {
            width: 20px;
            margin-left: 10px;
          }
        }
      }
    }

    .analyzes-header {
      &-tab__btn {
        justify-content: flex-start;
      }
    }
  }
  .call-home {
    padding-top: 40px;

    &__row {
      padding-bottom: 0;
    }

    .icon-wrapper {
      align-items: center;

      .call-icon {

      }
    }
  }
  .single-news {
    &_wrapper {
      &__img {
        min-height: 400px;
      }
    }
  }
  .single-analyse {
    .s-body {

      &-switcher {
        overflow-x: auto;

        &__inner {
          flex-wrap: nowrap;
        }
      }
    }
  }
  .s-analyze-slider {
    .contact-us__info-block {
      margin-top: 40px;
    }
  }
  .about-us__section {
    .about-us__header {
      .slider-text-line {
        p {
          width: 100%;
        }
      }
    }
  }
  .about-us-slider {
    &-desc {
      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .bag {
    .contact-us__info-block {
      margin-top: 80px;
    }
  }
}

@media (max-width: 768px) {
  .mobile {
    &-menu {
      .mobile-search {
        flex-wrap: wrap;

        .user-control {
          margin-bottom: 20px;
          align-items: center;

          &__bag {
            width: 30px;

            &-count {
              width: 17px;
              height: 20px;
              line-height: 20px;
              font-size: 12px;
              top: -4px;
            }
          }

          &__account {
            width: 22px;
          }
        }

        form {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }
    }
  }
  .slider {
    &-image-wrapper {
      width: 57vw;
      height: 64vw;
    }
  }
  .analyzes {
    &-products {
      padding: 22px 0;

      &__inner {
        &-item {
          min-width: 80%;

          &:hover {
            filter: drop-shadow(0 3px 5px rgba(24, 48, 66, .3));
          }

          .options {
            .has-emergency {
              width: 35px;
              margin-right: 10px;
            }

            button {
              font-size: 12px;
              padding: 7px !important;
            }
          }
        }
      }
    }
  }
  .contact-us {
    &-map__wrapper {
      .decor-h {
        top: 232px;
      }
    }

    &__info-block {
      margin-top: 270px;
    }
  }
  .call-home {
    .icon-wrapper {
      align-items: center;
    }
  }

}

@media (max-width: 576px) {

}

@media (max-width: 476px) {
  body h4 {
    font-size: 20px;
  }
  .slider {
    &-text {
      &-line {
        margin: 5px 0;

        h5 {
          font-size: 9px;
          margin-top: 20px;
        }

        h1 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 20px;
          letter-spacing: 0.05px;
        }
      }

      &-link {
        a {
          padding: 9px 10px;
          font-size: 16px;
          font-weight: 400;
          background: linear-gradient(208deg, transparent 7px, #183042 0);
          margin-top: 0;
        }
      }
    }

    &-image-wrapper {
      width: 73vw;
      height: 78vw;
    }

    .main-slider-container {
      padding: 40px 0 80px;
    }

    .main-slider-container .swiper-pagination {
      display: none;
    }
  }
  .analyzes {
    margin-bottom: 80px;

    &-header {
      margin-bottom: 30px;

      &-tab__btn {
        justify-content: flex-start;

        span {
          padding: 9px 28px !important;
          font-size: 12px;
          background: linear-gradient(208deg, transparent 7px, #183042 0);
        }
      }
    }

    &-products {
      &__show-more {
        font-size: 10px;
      }

      &__inner {
        width: 90vw;

        &::-webkit-scrollbar {
          display: none;
        }

        &-item {
          padding: 5px 10px 10px;
          width: 100%;
          min-width: 100%;
          margin-bottom: 0;

          .top {
            margin-bottom: 50px !important;
          }

          &__number {
            font-size: 14px;
          }

          &__title {
            margin-bottom: 15px;
            font-size: 16px;
          }

          &__desc {
            font-size: 14px;
            line-height: 24px;
          }

          &__info {
            .price {
              p {
                font-size: 20px;

                span {
                  font-size: 15px;
                }
              }
            }

            .options {
              .add-to__cart-btn {
                font-size: 10px !important;
                padding: 7px !important;

                &-icon {
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .research {
    &-item {
      box-shadow: 0 10px 22px rgba(39, 39, 39, 0.3);

      &__img {
        max-width: 76px;
        padding-top: 90px;
      }

      &__title {

      }

      &__desc {
        font-size: 10px;
        line-height: 12px;
      }

      &__link {
        a {
          font-size: 10px;
        }
      }
    }
  }
  .about-us {
    margin-top: 80px;
    background-position: 78%;

    &__info {
      padding: 20px 15px;

      &__title {
        h2 {
          font-size: 20px;
        }
      }

      &__text {
        font-size: 14px;
        line-height: 21px;
      }

      &__link {
        a {
          font-size: 14px;
        }
      }
    }
  }
  .contact-us {
    margin: 70px 0 0;

    &__decor {
      display: none;
    }

    &__form {
      margin-bottom: 80px;

      &__title {
        p {
          font-size: 12px;
        }
      }

      form {
        input, textarea {
          padding: 10px;
          font-size: 16px;

          &::placeholder {
            font-size: 16px;
          }
        }

        textarea {
          min-height: 128px;
          max-height: 128px;
        }

        button {
          padding: 7px 10px;
          font-size: 14px;
          background: linear-gradient(208deg, transparent 7px, #183042 0);
          margin-top: 0;
        }
      }
    }

    &__map {
      height: 310px;
    }

    &__item {
      &-select {
        .active-value {
          padding: 16px 8px;
          font-size: 12px;
        }

        ul {
          li {
            font-size: 12px;
          }
        }
      }

      &-info {
        font-size: 12px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
  .results {
    &-title {
      small {
        font-size: 12px;
      }
    }

    form {
      input {
        padding: 10px;
        font-size: 10px;
        margin-bottom: 10px;

        &::placeholder {
          font-size: 10px;
        }
      }

      button {
        padding: 7px 10px;
        font-size: 10px;
        background: linear-gradient(208deg, transparent 7px, #183042 0);
        margin-top: 0;
      }
    }
  }
  .analyses {
    &-tags {
      ul {
        width: 300vw;
      }
    }

    &-item {
      .number {
        font-size: 7px;
      }

      .title {
        font-size: 12px;
      }

      .desc {
        font-size: 12px;
      }
    }
  }
  .single-news {
    &_wrapper {
      &__img {
        min-height: 190px;
      }

      &__date {
        font-size: 12px;
      }

      &__title {
        font-size: 18px;
        font-weight: 900;
      }

      &__text {
        font-size: 14px;
      }
    }

    .news__social {
      &-wrapper {
        &-label {
          font-size: 16px;
        }

        &-list {
          ul {
            li {
              margin-left: 20px;

              a {
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
  .single-analyse {
    padding-top: 40px;
    margin-bottom: 80px;

    .s-header {
      &-number {
        font-size: 12px;
      }

      &-title {
        font-size: 14px;
        line-height: 21px;
      }

      &-category {
        font-size: 14px;
        margin-bottom: 15px;
      }

      &-price {
        font-size: 18px;

        p {
          span {
            font-size: 14px;
          }
        }
      }
    }

    .s-body {
      &-switcher {
        overflow-x: auto;
        margin: 15px 0;
        display: block;

        &__inner {
          font-size: 16px;

          span {
            margin-right: 15px;
          }
        }
      }

      &-tabs {
        font-size: 14px;
      }
    }
  }
  .about-us__section {
    margin-bottom: 80px;
  }
  .about-us-slider {
    &-header {
      &-slider__control {
        span {
          font-size: 16px;

          &:nth-child(2) {
            margin-left: 30px;
          }
        }
      }
    }

    &-items__container {
      margin-bottom: 60px;
    }
  }
  .about-us__certificate {
    .certificate__text {
      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .login-register {
    padding-top: 40px;

    .register-form {
      form {
        input {
          font-size: 16px;
          padding: 10px;

          &::placeholder {
            font-size: 12px;
          }
        }

        .full-name {
          span {
            font-size: 32px;
            line-height: 48px;
            min-width: 60px;
          }
        }

        button {
          font-size: 14px;
          padding: 8px 30px;
          margin-top: 20px;
        }

        a {
          font-size: 14px;
        }
      }
    }
    .has-no-account-wrapper {
      .no-account {
        &__text {
          font-size: 14px;
        }

        &__link {
          a {
            padding: 8px 20px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .bag {
    padding-top: 40px;

    &.empty {
      .empty-bag {
        &__icon-wrapper {
          .empty-bag__icon {
            width: 100px;
          }
        }

        &__text {
          .note {
            font-size: 14px;
            line-height: 27px;
          }

          .button {
            padding: 8px 20px;
            font-size: 14px;
          }
        }
      }
    }

    &-with-item__wrapper {
      .remove-all {
        font-size: 14px;
        padding: 0;
      }
    }

    &-items {
      .analyzes-products__inner-item {
        .remove__btn {
          width: 15px;
          top: 5px;
          right: 10px;
        }

        &__info {
          .options {
            &-bag {
              width: 44px;
            }
          }
        }
      }
    }

    &-order {
      &-tabs {
        &__inner {
          form {
            padding: 0 15px;

            button {
              font-size: 14px;
              padding: 8px 20px;
            }
          }
        }

        .bag-prices {
          &-item {
            p {
              font-size: 14px;
            }

            strong {
              font-size: 20px;

              span {
                font-size: 15px;
              }
            }
          }
        }
      }
    }

  }
  .account-page {
    .analyzes-header-tab__btn {
      span {
        padding: 9px 22px !important;
      }
    }
    .orders {
      &__item {
        &-header {
          padding: 8px;

          &-title {
            font-size: 12px;
          }

          &-date {
            font-size: 14px;
          }
        }

        &-body {
          table {
            thead {
              tr {
                font-size: 12px;
                line-height: 21px;

                th {
                  width: unset;
                }
              }
            }
          }
        }
      }
    }
    .settings {
      .register-form {
        form {
          .full-name {
            margin-bottom: 4px;

            span {
              min-width: 50px;
              margin-left: 10px;
              font-size: 30px;
              line-height: 47px;
            }
          }

          input {
            padding: 10px;

            &::placeholder {
              font-size: 12px;
            }
          }

          button {
            padding: 8px 20px;
            font-size: 14px;
          }
        }
      }
      .has-no-account-wrapper{
        .has-no__account{
          .no-account__text{
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 20px;
          }
          .no-account__link{
            a{
              font-size: 14px;
              padding: 8px 20px;
            }
          }
        }
      }
    }
  }
  .results{
    .loaded-header{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 376px) {
  .contact-us {
    &-map__wrapper {
      .decor-h {
        top: 270px;
      }
    }

    &__info-block {
      margin-top: 180px;
    }
  }
  .analyses {
    .options {
      .add-to__cart-btn {
        font-size: 10px;
      }
    }
  }
  .call-home {
    .text-wrapper {
      .title {
        p {
          font-size: 14px;
        }
      }
    }

    .icon-wrapper {
      .call-icon {
        width: 117px;
      }
    }
  }
}