@import "variables";

%styled-links{
  padding: 14px 27px 16px;
  text-align: center;
  font-size: 15px;
  position: relative;
  background: linear-gradient(208deg, transparent 11px, $brand-blue 0);
  display: inline-block;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.05em;
}