$body-color: #F5FAFF;
$brand-blue: #183042;
$white: #ffffff;
$icons-blue: #52A4E3;
$brand-red: #932322;
$black: #000000;
$light-blue: #52A4E3;
$hexagonal: polygon(50% 0, 100% 23%, 100% 75%, 50% 100%, 0 75%, 0 25%);

