@import "../variables";

.about-us__section {
  margin-bottom: 150px;
  .about-us__header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .slider-text-line {
      p {
        width: 85%;
      }

      a {
        float: right;
        margin-right: 40px;
        font-weight: 700;
        color: $light-blue;
        text-transform: uppercase;
      }
    }

    &-img {
      .wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 660px;

        .hexagon {
          position: relative;
          width: 100%;
          height: 100%;
          margin: 50px 20px 70px;

          .hexagon-shape {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000000;
            clip-path: polygon(50% 0, 100% 23%, 100% 75%, 50% 100%, 0 75%, 0 25%);

            picture {
              img {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}


.about-us-slider {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-slider__control {
      span {
        font-family: 'icons';
        cursor: pointer;
        font-size: 26px;

        &:nth-child(2) {
          margin-left: 74px;
        }
      }
    }
  }

  &-desc {
    p {
      color: $black;
      font-size: 18px;
      margin: 20px 0;
    }
  }

  &-items__container {
    ::-webkit-scrollbar {
      display: none;
    }

    margin-bottom: 150px;
    &__inner {
      display: flex;
      min-width: 83vw;
      overflow-x: scroll;
      padding: 25px 0;

      .about-us-slider-item {
        width: 330px;
        min-width: 330px;
        margin-right: 40px;

        &__img {
          height: 253px;
          background-color: $white;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          picture {
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        &__info {
          padding: 20px 20px 33px;
          border-radius: 6px;

          span {
            float: right;
            color: $light-blue;
            font-weight: 700;
            text-transform: lowercase;
            font-size: 20px;
            cursor: pointer;
          }

          &.item-open {
            .tech-slider__info__wrapper {
              -webkit-line-clamp: unset;
              min-height: auto;
              max-height: 300px;
              overflow-y: auto;
            }

            background-color: $white;
            box-shadow: 0 0 22px rgba(39, 39, 39, 0.3);
          }

          .tech-slider__info__wrapper {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #9c9c9c;
            text-align: left;
            margin-top: 10px;
            font-size: 1.2rem;
            text-shadow: 0 0 0 #9c9c9c;
            min-height: 83px;
            max-height: min-content;

            .tech-desc {
              font-size: 18px;
              width: 100%;
            }
          }

          &:hover {
            background-color: $white;
            box-shadow: 0 0 22px rgba(39, 39, 39, 0.3);
          }

          &__title {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 10px;
          }

          &__desc {
            width: 80%;
            color: $brand-gray;
          }
        }
      }
    }
  }
}

.show-more{
  float: right;
  a{
    color: $light-blue;
    font-size: 20px;
    font-weight: 700;
  }
}

.about-us__certificate{
  .certificate__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    p{
      font-size: 18px;
      color: $brand-gray;
      margin-top: 20px;
    }
  }
  .certificate__img{
    width: 430px;
    margin: 0 0 0 auto;
  }
}



