@import "../variables";
@import "../templates";

.analyses {
  padding-top: 109px;
  padding-bottom: 60px;
  &-tags {
    margin-top: 34px;
    ul{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        color: $brand-gray;
        border-radius: 6px;
        margin: 10px;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        &.event{
          color: $brand-pink;
        }
        &.emergency{
          color: $light-blue;
        }
        &:hover{
          color: $brand-blue;
        }
        &.selected{
          color: $brand-blue;
        }
      }
    }
  }
  &-item{
    background-color: $white;
    padding: 5px 20px 25px;
    position: relative;
    .item-link{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:hover{
      box-shadow: 0 10px 22px rgba(24, 48, 66, 0.3);
    }
    .number{
      color: $brand-gray;
      font-size: 15px;
      font-weight: 400;
    }
    .title{
      font-weight: 900;
      color: $brand-red;
      font-size: 20px;
    }
    .desc{
      font-size: 20px;
      margin-top: 20px;
      font-weight: 900;
    }
    .price{
      font-size: 30px;
      font-weight: 900;
      text-align: right;
      p{
        margin: 0;
        span{
          font-size: 20px;
        }
      }
      .sell-price{
        font-size: 15px;
        font-weight: 500;
        color: $brand-gray;
        position: relative;
        display: inline-block;
        span{
          font-size: 13px;
        }
        &:before{
          content: '';
          width: 100%;
          height: 2px;
          background-color: rgba(30, 34, 36, 0.5);
          position: absolute;
          transform: rotate(8deg);
          top: 13px;
          left: 0;
          right: 0;
        }
      }
      .res-icon{
        font-family: 'icons';
      }
    }
    .options{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      a{
        display: block;
        width: 44px;
      }
      .add-to__cart-btn{
        display: flex!important;
        flex-wrap: wrap;
        align-items: center;
        border: none;
        color: $white;
        @extend %styled-links;
        padding: 7px!important;
        background: linear-gradient(208deg, transparent 11px, $light-blue 0)!important;
        margin-left: 20px;
        .bag-icon{
          width: 30px;
          margin-left: 10px;
        }
      }
    }
  }
}