@import "../variables";
@import "../templates";

.results {
  padding-top: 100px;

  .container {
    &.results-info {
      display: block;
    }

    &.loaded {
      display: none;
    }
  }

  &-title {
    small {
      font-size: 18px;
      color: $brand-gray;
    }
  }

  form {
    input {
      width: 100%;
      background-color: $white;
      padding: 19px 20px;
      border: none;
      &::placeholder {
        color: $brand-gray;
      }

      &:focus {
        outline: none
      }
    }

    button {
      @extend %styled-links;
      border: none;
      color: $white;
    }
  }

  .loaded {
    &-header {
      margin-bottom: 40px;

      .title {
        display: flex;
        align-items: center;

        h4 {
          margin-bottom: 0;
        }

        span {
          font-family: 'icons';
          font-size: 30px;
          margin-right: 10px;
        }
      }

      .date {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 18px;
        color: $light-blue;
      }
    }

    &-table {
      table {
        width: 100%;
        border: 2px solid $brand-gray;

        tr {
          border-bottom: 2px solid $brand-gray;
        }

        th, td {
          border-right: 2px solid $brand-gray;
          padding: 8px 20px;
          color: $brand-blue;
          font-weight: 700;
          font-size: 20px;
          .number{
            font-size: 15px;
            color: $brand-gray;
          }
          p {
            margin: 0;
          }
        }
        thead {
          tr {
            th {
              color: $brand-gray;
              font-weight: 400;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}