@import "../variables";
@import "../templates";

.results {
  padding-top: 100px;

  .container {
    &.results-info {
      display: block;
    }
    &.loaded {
      display: none;
    }
  }

  &-title {
    small {
      font-size: 18px;
      color: $brand-gray;
    }
  }

  form {
    input {
      width: 100%;
      background-color: $white;
      padding: 19px 20px;
      border: none;
      &::placeholder {
        color: $brand-gray;
      }

      &:focus {
        outline: none
      }
    }

    button {
      @extend %styled-links;
      padding: 20px;
      border: none;
      color: $white;
    }
  }

  .loaded {
    &-header {
      margin-bottom: 40px;
      .title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .name{
          position: relative;
          padding-left: 45px;
          h4 {
            margin-bottom: 0;
          }

          span {
            font-family: 'icons';
            font-size: 30px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .birth-date{
          padding-left: 45px;
          line-height: 30px;
          h4{
            margin-bottom: 0;
          }
        }
      }

      .date {
        font-size: 18px;
        color: $light-blue;
      }
    }
  }
}