@import "../variables";
@import "../templates";

.top-header {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;

  &__result-link {
    @extend %styled-links;
    padding: 20px;

    a {
      color: $white;
      font-weight: 500;
    }
  }
}

.main-header {
  background-color: $white;
  padding: 20px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper__logo {
    width: 216px;
  }

  &__wrapper__search {
    display: flex;
    align-items: center;

    &-wrapper {
      position: relative;

      input {
        background: $body-color;
        border: none;
        padding: 3px 22px;
        border-radius: 5px;

        &:focus {
          outline: none;
        }
      }

      button {
        background: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 6px;
        right: 10px;
        width: 20px;
        height: 20px;

        &:before {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          background-image: url("/images/icons/search.svg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    .user-control {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__items {
        margin-left: 40px;
      }

      &__bag {
        width: 35px;
        position: relative;

        &-count {
          position: absolute;
          display: block;
          width: 18px;
          height: 22px;
          line-height: 22px;
          background-color: $icons-blue;
          text-align: center;
          color: $white;
          font-size: 9px;
          font-weight: 700;
          top: 0;
          right: -7px;
          clip-path: $hexagonal;
        }

        svg {
          width: 100%;
        }
      }

      &__account {
        width: 25px;
      }

      &__language-switcher {
        .select2-selection--single {
          font-size: 12px !important;
          font-weight: 700 !important;
          border: none;
          background-color: $body-color;
          height: 30px;

          text-align: center;

          .select2-selection__rendered {
            padding: 0;
            line-height: 30px;
          }

          .select2-selection__arrow {
            display: none;
          }
        }
      }
    }
  }
}

.select2-container--open {
  .custom-dropdown {
    border: 1px solid $body-color;
    font-size: 12px;
    text-align: center;
  }
}