._icon-bag:before {
  content: "\e900";
}

._icon-chevrone-down:before {
  content: "\e901";
}

._icon-fb:before {
  content: "\e902";
}

._icon-gp:before {
  content: "\e903";
}

._icon-insta:before {
  content: "\e904";
}

._icon-search:before {
  content: "\e905";
}

._icon-user:before {
  content: "\e906";
}

._icon-whatsapp:before {
  content: "\e907";
}