@import '../variables';
@import '../templates';


.contact-us{
  margin: 150px 0 0;
  position: relative;
  &__decor{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 375px;
  }
  &__form{
    p{
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color: rgba(30, 34, 36, 0.5);
      margin: 30px 0;
    }
    form{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      input, textarea{
        border: none;
        background-color: $white;
        width: 100%;
        margin-bottom: 30px;
        padding: 25px 31px;
        font-size: 24px;
        &::placeholder{
          font-size: 24px;
          color: rgba(30, 34, 36, 0.5);
        }
        &:focus{
          outline: none;
        }
      }
      textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: 240px;
        max-height: 240px;
      }
      button{
        @extend %styled-links;
        border: none;
        color: $white;
        padding: 7px 60px;
        max-width: 280px;
        float: right;
      }
    }
  }
  &__map{
    box-shadow: 0px 10px 22px rgba(39, 39, 39, 0.3);
    height: 100%;
    position: relative;
    z-index: 2;
  }
  &__item{
    position: relative;
    padding-top: 160px;
    text-align: center;
    margin: 145px auto 0;
    width: 360px;
    font-size: 15px;
    &-img{
      max-width: 145px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &-info{
      background-color: $white;
      padding: 12px 0 8px;
    }
    &-select{
      max-height: 40px;
      label{
        width: 100%;
        position: relative;
        input{
          background-color: $white;
          padding: 12px 0 8px;
          border: none;
          width: 100%;
          text-align: center;
          white-space: normal;
          cursor: pointer;
          &:focus{
            outline: none;
          }
        }
        span{
          font-family: 'icons';
          position: absolute;
          top: 15px;
          right: 5px;
          font-size: 11px;
          color: $brand-red;
          transition: all linear .3s;
          &.icon-open{
            transform: rotate(180deg);
            transition: all linear .3s;
          }
        }
      }
      ul{
        max-height: 0;
        overflow: hidden;
        position: relative;
        z-index: 2;
        transition: max-height .3s linear;
        li{
          padding: 12px 0 8px;
          background-color: $white;
          border-bottom: 1px solid $brand-gray;
          cursor: pointer;
          &:hover{
            background-color: $brand-gray;
            color: $white;
          }
        }
        &.open-list{
          max-height: 1000px;
          transition: max-height .3s linear;
        }
      }
    }
  }
}