._icon-amd:before {
  content: "\e900";
}
._icon-bag:before {
  content: "\e901";
}
._icon-chevrone_left:before {
  content: "\e902";
}
._icon-chevrone_right:before {
  content: "\e903";
}
._icon-chevrone-down:before {
  content: "\e904";
}
._icon-fb:before {
  content: "\e905";
}
._icon-female:before {
  content: "\e906";
}
._icon-gp:before {
  content: "\e907";
}
._icon-insta:before {
  content: "\e908";
}
._icon-male:before {
  content: "\e909";
}
._icon-search:before {
  content: "\e90a";
}
._icon-user:before {
  content: "\e90b";
}
._icon-whatsapp:before {
  content: "\e90c";
}