@import "../variables";
@import "../templates";


.slider{
  margin-bottom: 40px;
  .main-slider-container{
    padding: 40px 0 154px;
    .swiper-pagination{
      position: absolute;
      bottom: 50px;
      .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background: $brand-gray;
        margin-right: 40px;
        &.swiper-pagination-bullet-active{
          background: $brand-red!important;
        }
      }
    }
  }
  &-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-line{
      margin: 20px 0;
    }
    h1{
      font-size: 45px;
      font-weight: 700;
/*      line-height: 91px;*/
    }
    h5{
      font-size: 18px;
      font-weight: 700;
      color: $light-blue;
    }
    p{
      color: $brand-gray;
      letter-spacing: 2px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      width: 80%;
    }
    &-link{
      display: flex;
      justify-content: flex-start;
      a{
        @extend %styled-links;
        color: $white;
        margin-top: 20px;
      }
    }
  }
  &-image-wrapper{
    filter: drop-shadow(-17px 14px 11px rgba(24, 48, 66, 0.3));
    width: 32vw;
    height: 35vw;
    margin: 0 auto;
    &__inner{
      height: 100%;
      clip-path: $hexagonal;
      position: relative;
      picture {
        width: 100%;
        height: 100%;
        display: flex;
        img{
          object-fit: cover;
          height: auto;
          width:100%;
        }
      }
    }
  }
}