@import "../variables";

.pagination{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 159px;
  ul{
    display: flex;
    align-items: center;
    li{
      margin: 5px;
      &.active-page{
        a{
          color: lightblue;
        }
      }
      a{
        color: $black;
        span{
          font-family: 'icons';
          font-size: 18px;
        }
      }
    }
  }
}